@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
* { 
	margin:0; 
	padding:0; 
	box-sizing:border-box; 
}

body {
	background-color: #F5DEB3;
	font-family: 'Arial', sans-serif;
	font-size: 18px;
	color: #330000;
}

header {
	
}

nav {
	margin: auto;
	text-align: center;
}

nav a {
	color: #FFF;
	padding: 0 2em;
	font-family: 'Rock Salt', sans-serif;
	font-size: .5em;
	font-weight: bold;
	text-decoration: none;
	letter-spacing:.2em;
	margin: 2em;
	padding: .5em;
	text-align: right;
	text-transform: uppercase;

}

nav a:hover {
	background-color: #FFF;
	color: #8C7853;
}

a {
	font-size: .5em;
	color: #8C7853;
	text-decoration: none;
	text-align: right;
}

h1 {
	color: #FFF;
	font-family: 'Rock Salt', sans-serif;
	font-size: 2em;
	padding-top: 6em;
	text-align: center;
}

h2 {
	color: #8C7853;
	font-family: 'Rock Salt', sans-serif;
	letter-spacing:.2em;
	margin-top: .5em;
	margin-left: .5em;
}

h3 {
	font-family: sans-serif;
}

p {
	padding: .5em 1em;
}

footer {
	background-color:#FDF5E6;
	color:#8C7853;

}

blockquote {
	color: #FFF;
	font-family: 'Rock Salt', sans-serif;
	font-size: .75em;
	letter-spacing:.1em;
	margin-top: 14em;
	padding: 1em;
	text-align: right;
}

img {
	width: 100%;
}

.package {
	border: solid .1em;
	background-color: #85A057;
	height: 14em;
	width: 32.12%;
	margin: .25em;
	padding: .5em;
	float: left;
	font-family: 'Arial', sans-serif;
}

.clearfix:after{
	height:0;
	font-size:0;
	visibility:hidden;
	display:block;
	content:" ";
	clear:both;
}

#lander {
	background:url(../images/rex.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 41em;
	padding: 1em 0;
}

#story {
	background-color: #CDA27F;
	font-style: italic;	
	margin: 1em 2em;
	padding: 1em 2em;
	text-align: justify;
}

#packages {
	width: 95%;
	margin:auto;
}

#disclaimers {
	border: solid .15em;
	margin: 1em 2em;
	background-color: #FBA16C;

}

#disclaimers h2 {
	color: #A67D3D;
}

#disclaimers ul {
	padding-left: 3em;
	padding-right: 1em;
	padding-bottom: 2em;
	font-style: italic;
}

#prints {
	margin: 1em 2em;
	border: solid .15em;
	background-color: #905838;
	color: #FFEFDB;
}

#prints h2 {
	color: #FFEFDB;
}

#prints ul {
	padding-left: 3em;
	padding-right: 1em;
	padding-bottom: 2em;
}

#prints a{
	color: #FFEFD8;
}

#patti {
	font-size: 1em;

}

@media screen and (max-width: 880px) {
	#packages{
		font-size: 16px;
		width: 90%;
		padding: 0 0;
	}
	h1 {

	}
}

@media screen and (max-width: 688px) {
	.package {
		float: none;
		height: auto;
		width:auto;
	}
}

@media screen and (max-width: 549px) {
	header blockquote{
		display:none;
	}
	nav a {
		display: block;
		text-align: center;
		padding: 1em;
		margin: 2px;
	}
	h1 {
		padding-top:2em;
	}

	h2 {
		font-size: 1em;
	}
	#story {
		display:none;
	}
	#disclaimers {
		width:100%;
		margin:auto;
		font-size: 16px;
	}
	#prints {
		width:100%;
		margin:auto;
		font-size: 16px;
	}
}



