@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
* { 
	margin:0; 
	padding:0; 
	box-sizing:border-box; 
}

body {
	background-color: #F5DEB3;
	font-size: 18px;
}

header {
	
}

nav {
	margin: auto;
	text-align: center;
}

nav a {
	color: #FFF;
	padding: 0 2em;
	font-size: 1em;
	font-weight: bold;
	padding: 5px;
	text-align: right;
	text-transform: uppercase;

}
nav a:hover {
	background-color: #FFF;
	color: #8C7853;
}

h1 {
	color: #FFF;
	font-family: 'Rock Salt', cursive;
	font-size: 2em;
	padding-top: 6em;
}

h2 {
	color: #8C7853;
	margin-top: 1em;
	margin-left: .5em;
	margin-bottom: .5em;
}

p {
	padding: .5em 1em;
}

footer {
	background-color:#FDF5E6;
	color:#8C7853;

}

blockquote {
	color: #FFF;
	font-style: italic;
	margin-top: 12em;
	padding: 1em;
	text-align: right;
}

img {
	width: 100%;
}

.package {
	border: solid .1em;
	background-color: #85A057;
	height: 14em;
	width: 32.12%;
	margin: .25em;
	padding: .5em;
	float: left;
	font-family: 'Arial', sans-serif;
}

.clearfix:after{
	height:0;
	font-size:0;
	visibility:hidden;
	display:block;
	content:" ";
	clear:both;
}

#wrapper {

}

#lander {
	background:url(../images/rex.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 41em;
	padding: 1em 0;
}

#story {
	background-color: #CDA27F;
	font-style: italic;	
	margin: 1em 2em;
	padding: 1em 2em;
	text-align: justify;
}

#packages {
	width: 95%;
	margin:auto;
}

#packages h3 {
	font-family: "Times New Roman", Georgia, Serif;
}

#disclaimers {
	border: solid .15em;
	margin: 1em 2em;
	
	background-color: #FBA16C;

}

#disclaimers h2 {
	color: #A67D3D;
}

#disclaimers ul {
	padding-left: 3em;
	padding-right: 1em;
	padding-bottom: 2em;
	font-style: italic;
}

#prints {
	margin: 1em 2em;
	border: solid .15em;
	background-color: #905838;
	color: #FFEFDB;
}

#prints h2 {
	color: #FFEFDB;
}

#prints ul {
	padding-left: 3em;
	padding-right: 1em;
	padding-bottom: 2em;
}


